<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product App</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>

  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">

        <div class="product-image">
         <!-- v-bind dynamically binds an attribute(src) to an expression{{ image }} -->
         <!-- Shorthand :src="image" :alt="description" :href="url" :title="tooltip" :class="isActive" :style="isStyled" :disabled="isDisabled" -->
            <img v-bind:src="image" >            
        </div>        
        
        <div class="product-info">
            <h1>{{ title }}</h1>
            <!-- using v-show is more performant than v-if. Adds attribute of display: none; as opposed to adding or removing elements from the DOM -->
            <p v-if="inStock">In Stock</p>
            <p v-else :class="{ outOfStock: !inStock }">Out Of Stock</p>


            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div v-for="(variant, index) in variants"
                 :key="variant.variantId"
                 class="color-box"
                 :style="{ backgroundColor: variant.variantColor }"
                 @mouseover="updateProduct(index)">
            </div>

            <!-- Vue event listener -->
            <!-- Shorthand for v-on is @ Example @click or @mouseover -->
            <button v-on:click="addToCart"
                    :disabled="!inStock"
                    :class="{ disabledButton: !inStock }">Add To Cart</button>

            <div class="cart">
              <p>Cart({{ cart }})</p>
            </div>

        </div>

    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>